<!DOCTYPE html>
<html lang="fa" dir="rtl">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Pixgix Ai image generator HTML website template – Generate stunning AI-powered images instantly with our advanced AI image generator. Perfect for artists, designers, and businesses. Fast, high-quality, and easy to use.">
    <meta name="keywords" content="AI image generator, image generation, AI art, digital">
    <!-- Title -->
    <title>PixgiX- Ai image Generator HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Odometer -->
    <link rel="stylesheet" href="assets/css/odometer.css">
    <!-- Custom Animation -->
    <link rel="stylesheet" href="assets/css/custom-animation.css">
    <!-- Main css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel='stylesheet' href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'>

</head>

<body>

    <!-- ===========================
    =====>> Preloader <<======= -->
    <div id="preloader" dir="ltr">
        <div id="text">
            <p>P</p>
            <p>i</p>
            <p>x</p>
            <p>g</p>
            <p>i</p>
            <p class="active">X</p>
        </div>
    </div>
    <!-- =====>> End Preloader <<=====
    =========================== -->

    <!-- ===========================
    =====>> Scroll back to top <<===== -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- =====>> End Scroll back to top <<=====
    =========================== -->
    <!-- ===========================
    =====>> navbar <<===== -->
    <nav class="navbar navbar-expand-lg navbar-main">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo/logo.svg" alt="logo" class="logo-img">
            </a>
            <div class="right-nav">
                <a href="cart.html" class="card___btn">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M16.7605 21.24C17.089 21.24 17.3552 20.9774 17.3552 20.6533C17.3552 20.3293 17.089 20.0667 16.7605 20.0667C16.432 20.0667 16.1658 20.3293 16.1658 20.6533C16.1658 20.9774 16.432 21.24 16.7605 21.24ZM16.7605 23C18.0743 23 19.1394 21.9493 19.1394 20.6533C19.1394 19.3574 18.0743 18.3067 16.7605 18.3067C15.4467 18.3067 14.3816 19.3574 14.3816 20.6533C14.3816 21.9493 15.4467 23 16.7605 23Z"
                            fill="white"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.6237 21.24C9.95217 21.24 10.2184 20.9774 10.2184 20.6533C10.2184 20.3293 9.95217 20.0667 9.6237 20.0667C9.29523 20.0667 9.02896 20.3293 9.02896 20.6533C9.02896 20.9774 9.29523 21.24 9.6237 21.24ZM9.6237 23C10.9375 23 12.0026 21.9493 12.0026 20.6533C12.0026 19.3574 10.9375 18.3067 9.6237 18.3067C8.30987 18.3067 7.24477 19.3574 7.24477 20.6533C7.24477 21.9493 8.30987 23 9.6237 23Z"
                            fill="white"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.14992 1.39195C1.42322 0.987572 1.9771 0.8783 2.38704 1.14789L3.77635 2.06152C4.22008 2.35331 4.53332 2.80196 4.65149 3.31492L7.09912 13.9384C7.25297 14.6061 7.85478 15.08 8.54902 15.08H17.8352C18.5295 15.08 19.1313 14.6061 19.2851 13.9384L21.1775 5.72513C21.3889 4.80735 20.6817 3.9334 19.7276 3.9334H10.5158C10.0231 3.9334 9.6237 3.53942 9.6237 3.05342C9.6237 2.56741 10.0231 2.17342 10.5158 2.17342H19.7276C21.8267 2.17342 23.3825 4.09602 22.9173 6.11514L21.025 14.3284C20.6864 15.7975 19.3625 16.84 17.8352 16.84H8.54902C7.02174 16.84 5.69775 15.7975 5.35929 14.3284L2.91166 3.70495C2.89478 3.6317 2.85003 3.5676 2.78664 3.52591L1.39735 2.61229C0.987401 2.3427 0.876626 1.79634 1.14992 1.39195Z"
                            fill="white"></path>
                    </svg>
                    <div class="card-number">
                        3
                    </div>
                </a>
                <a href="login.html" class="btn btn--border">
                    ورود
                </a>
                <a href="register.html" class="btn btn--base">
                    ثبت نام
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                </button>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <img src="assets/images/logo/logo.svg" alt="logo" class="logo-img">
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="d-flex d-lg-none gap-4 pt-3 justify-content-center">
                    <a href="login.html" class="btn btn--border">
                        ورود
                    </a>
                    <a href="register.html" class="btn btn--base">
                        ثبت نام
                    </a>
                </div>
                <div class="offcanvas-body align-items-center">
                    <ul class="navbar-nav justify-content-center flex-grow-1">
                        <li class="nav-item dropdown has-megamenu">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">خانه</a>
                            <ul class="dropdown-menu fade-down">
                                <li><a class="dropdown-item" href="index.html">خانه یک</a></li>
                                <li><a class="dropdown-item" href="index-two.html">خانه دو</a></li>
                                <li><a class="dropdown-item" href="index-three.html">خانه سه</a></li>

                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html"><span>درباره ما</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                فروشگاه ها
                            </a>
                            <ul class="dropdown-menu fade-down">
                                <li><a class="dropdown-item" href="prompts.html">پرامپت ها</a></li>
                                <li><a class="dropdown-item" href="product-details.html">جزئیات محصول</a></li>
                                <li><a class="dropdown-item" href="cart.html">سبد خرید</a></li>
                                <li><a class="dropdown-item" href="checkout.html">فرم پرداخت</a></li>
                                <li><a class="dropdown-item" href="seller.html">فروشندگان</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                صفحات
                            </a>
                            <ul class="dropdown-menu fade-down">
                                <li><a class="dropdown-item" href="generator.html">تولیدکننده عکس</a></li>
                                <li><a class="dropdown-item" href="services.html">خدمات ما</a></li>
                                <li><a class="dropdown-item" href="pricing.html">قیمت گذاری ها</a></li>
                                <li><a class="dropdown-item" href="collection.html">کالکشن ها</a></li>
                                <li><a class="dropdown-item" href="team.html">تیم ما</a></li>
                                <li><a class="dropdown-item" href="profile.html">پروفایل</a></li>
                                <li><a class="dropdown-item" href="faq.html">سوالات متداول</a></li>
                                <li><a class="dropdown-item" href="404.html">404</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                مقالات
                            </a>
                            <ul class="dropdown-menu fade-down">
                                <li><a class="dropdown-item" href="blog-grid.html">گرید مقالات</a></li>
                                <li><a class="dropdown-item" href="blog-right-sidebar.html">سایدبار مقالات</a></li>
                                <li><a class="dropdown-item" href="blog-standard.html">مقالات استاندارد</a></li>
                                <li><a class="dropdown-item" href="blog-details.html">جزئیات مقالات</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html"><span>تماس با ما</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- =====>> End navbar <<=====
    =========================== -->
    <main>
        <!-- ===========================
        =====>> breadcrumb <<======= -->
        <section class="breadcrumb">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="breadcrumb__wrapper">
                            <h2 class="breadcrumb__title">جزئیات محصول</h2>
                            <ul class="breadcrumb__list">
                                <li class="breadcrumb__item">
                                    <a href="index.html"> خانه</a>
                                </li>
                                <li class="breadcrumb__item">
                                    <i class="fa-solid fa-arrow-left"></i>
                                </li>
                                <li class="breadcrumb__item">
                                    <span class="breadcrumb__item-text"> جزئیات محصول</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =====>> End breadcrumb <<=====
        =============================== -->
        <!-- ===========================
        =====>> Product Details <<======= -->
        <section class="product-details-section py-120">
            <div class="container">
                <div class="row row-gap-5 justify-content-between">
                    <div class="col-lg-6">
                        <div class="product-image">
                            <div class="swiper details-list">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="assets/images/product/prod1.jpg" alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/images/product/prod2.jpg" alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/images/product/prod3.jpg" alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/images/product/prod4.jpg" alt="product">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper details-main">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="assets/images/product/prod1.jpg" alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/images/product/prod2.jpg" alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/images/product/prod3.jpg" alt="product">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="assets/images/product/prod4.jpg" alt="product">
                                    </div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="product-details-content">
                            <div class="d-flex flex-wrap gap-4 justify-content-between align-items-center">
                                <h2>پرامپت طرح سه بعدی</h2>
                                <button class="fs-25 text-white"><i class="fa-regular fa-heart"></i></button>
                            </div>
                            <p class="fs-14 pt-1 pb-4"><span>⛵ میدجرنی</span></p>
                            <div class="d-flex flex-wrap gap-4 pb-2 justify-content-between align-items-center">
                                <div class="d-flex gap-4">
                                    <a class="detaisl-meta" href="javascript:void(0)">
                                        <i class="fa-solid fa-eye"></i>
                                        <span>300</span>
                                    </a>
                                    <a class="detaisl-meta" href="javascript:void(0)">
                                        <i class="fa-solid fa-basket-shopping"></i>
                                        <span>154</span>
                                    </a>
                                    <a class="detaisl-meta" href="javascript:void(0)">
                                        <i class="fa-solid fa-share-nodes"></i>
                                        <span>اشتراک گذاری</span>
                                    </a>
                                </div>
                                <div class="d-flex gap-4">
                                    <a class="detaisl-meta" href="javascript:void(0)">
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex flex-wrap gap-4 justify-content-between align-items-center">
                                <div class="creator-profile">
                                    <h6 class="pb-3">سازنده</h6>
                                    <div class="d-flex gap-2 align-items-center">
                                        <img src="assets/images/team/1.jpg" alt="creator user" class="creator-img">
                                        <span class="text-white fs-16 fw-semibold">مهسا</span>
                                    </div>
                                </div>
                                <div class="rating ms-2">
                                    <h6 class="text-end pb-3">نمره</h6>
                                    <div class="text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <span class="ms-1">
                                            4.5
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-det pt-5">
                                <h6 class="pb-2">قیمت گذاری ها</h6>
                                <h4>۱۰۰۰تومان</h4>
                            </div>
                            <div class="product-content">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-details-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-details" type="button" role="tab"
                                            aria-controls="pills-details" aria-selected="true">
                                            جزئیات
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-description-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-description" type="button" role="tab"
                                            aria-controls="pills-description" aria-selected="false">
                                            توضیحات
                                        </button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-reviews-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-reviews" type="button" role="tab"
                                            aria-controls="pills-reviews" aria-selected="false">
                                            دیدگاه ها
                                        </button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-details" role="tabpanel"
                                        aria-labelledby="pills-details-tab" tabindex="0">
                                        <h6 class="mb-2">دسته بندی</h6>
                                        <p>تصاویر</p>
                                    </div>
                                    <div class="tab-pane fade" id="pills-description" role="tabpanel"
                                        aria-labelledby="pills-description-tab" tabindex="0">
                                        <p>با استفاده از هر ایده‌ای که در ذهن دارید، طرح‌های مفهومی منحصر به فرد برای برنامه ایجاد می‌کند!

این راهنما شامل ایده‌های زیادی برای ایجاد طرح‌های مفهومی منحصر به فرد برای برنامه خواهد بود!

با نسخه ۵.۲ ساخته شده است

برای عکس‌های پروفایل، کتاب داستان، چاپ هنری، هدایا، هنرهای مفهومی و برای

خوشگذرانی عالی است</p>
                                    </div>
                                    <div class="tab-pane fade" id="pills-reviews" role="tabpanel"
                                        aria-labelledby="pills-reviews-tab" tabindex="0">
                                        <div class="rating d-flex gap-4 ms-2">
                                            <h6 class="pb-2">ثبت نمره :</h6>
                                            <div class="text-warning">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                                <span class="ms-1">
                                                    4.5
                                                </span>
                                            </div>
                                        </div>
                                        <textarea name="message" rows="5" placeholder="پیام خود را بنویسید.."></textarea>
                                    </div>
                                </div>
                                <div class="product-details-footer d-flex flex-wrap gap-4 mt-4 ">
                                    <a href="#" class="btn btn--base">خرید</a>
                                    <a href="#" class="btn btn--border">اضافه کردن به سبد خرید</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =====>> End Product Details <<=====
        =========================== -->
        <!-- ===========================
        =====>> Best Selling <<======= -->
        <section class="section-two-bg py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 position-relative">
                        <div class="best-selling-slide swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="explore-item">
                                        <div
                                            class="explore-item-header d-flex align-items-center justify-content-between">
                                            <div class="explore-title">
                                                <img src="assets/images/user/u1.png" alt="user">
                                                مهسا
                                            </div>
                                            <div class="star-list">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="explore-img">
                                            <div class="featured-price">۲۰۰تومان</div>
                                            <figure class="image-effect">
                                                <img src="assets/images/explore/ex9.jpg" alt="explore images"
                                                    class="img-fluid w-100">
                                            </figure>
                                            <div class="heart-content">
                                                <i class="fa-solid fa-heart"></i>
                                                12
                                            </div>
                                            <h5 class="featured-title">
                                                <a href="product-details.html">پرامپت انیمه</a>
                                            </h5>
                                        </div>
                                        <div
                                            class="explore-item-footer d-flex align-items-center justify-content-between">
                                            <div class="explore-title">
                                                <div class="img">
                                                    <img src="assets/images/com-logo/midjouruey.png" alt="explore">
                                                </div>
                                                میدجرنی
                                            </div>
                                            <div class="view-list">
                                                <i class="fa-regular fa-eye"></i>
                                                341
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="explore-item">
                                        <div
                                            class="explore-item-header d-flex align-items-center justify-content-between">
                                            <div class="explore-title">
                                                <img src="assets/images/user/u2.png" alt="user">
                                                ارسلان
                                            </div>
                                            <div class="star-list">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="explore-img">
                                            <div class="featured-price">۲۰۰تومان</div>
                                            <figure class="image-effect">
                                                <img src="assets/images/explore/ex10.jpg" alt="explore images"
                                                    class="img-fluid w-100">
                                            </figure>
                                            <div class="heart-content">
                                                <i class="fa-solid fa-heart"></i>
                                                54
                                            </div>
                                            <h5 class="featured-title">
                                                <a href="product-details.html">پرامپت جادویی</a>
                                            </h5>
                                        </div>
                                        <div
                                            class="explore-item-footer d-flex align-items-center justify-content-between">
                                            <div class="explore-title">
                                                <div class="img">
                                                    <img src="assets/images/com-logo/chatgpt.png" alt="explore">
                                                </div>
                                                جی پی تی
                                            </div>
                                            <div class="view-list">
                                                <i class="fa-regular fa-eye"></i>
                                                345
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="explore-item">
                                        <div
                                            class="explore-item-header d-flex align-items-center justify-content-between">
                                            <div class="explore-title">
                                                <img src="assets/images/user/u3.png" alt="user">
                                                نسترن
                                            </div>
                                            <div class="star-list">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="explore-img">
                                            <div class="featured-price">۸۰۰تومان</div>
                                            <figure class="image-effect">
                                                <img src="assets/images/explore/ex11.jpg" alt="explore images"
                                                    class="img-fluid w-100">
                                            </figure>
                                            <div class="heart-content">
                                                <i class="fa-solid fa-heart"></i>
                                                24
                                            </div>
                                            <h5 class="featured-title">
                                                <a href="product-details.html">پرامپت آدم فضایی</a>
                                            </h5>
                                        </div>
                                        <div
                                            class="explore-item-footer d-flex align-items-center justify-content-between">
                                            <div class="explore-title">
                                                <div class="img">
                                                    <img src="assets/images/com-logo/leonardo.png" alt="explore">
                                                </div>
                                                لئوناردو
                                            </div>
                                            <div class="view-list">
                                                <i class="fa-regular fa-eye"></i>
                                                735
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="explore-item">
                                        <div
                                            class="explore-item-header d-flex align-items-center justify-content-between">
                                            <div class="explore-title">
                                                <img src="assets/images/user/u1.png" alt="user">
                                                ارسلان
                                            </div>
                                            <div class="star-list">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="explore-img">
                                            <div class="featured-price">۲۰۰تومان</div>
                                            <figure class="image-effect">
                                                <img src="assets/images/explore/ex12.jpg" alt="explore images"
                                                    class="img-fluid w-100">
                                            </figure>
                                            <div class="heart-content">
                                                <i class="fa-solid fa-heart"></i>
                                                12
                                            </div>
                                            <h5 class="featured-title">
                                                <a href="product-details.html">پرامپت طرح سه بعدی</a>
                                            </h5>
                                        </div>
                                        <div
                                            class="explore-item-footer d-flex align-items-center justify-content-between">
                                            <div class="explore-title">
                                                <div class="img">
                                                    <img src="assets/images/com-logo/nightCafe.png" alt="explore">
                                                </div>
                                                نایت کافی
                                            </div>
                                            <div class="view-list">
                                                <i class="fa-regular fa-eye"></i>
                                                274
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="explore-item">
                                        <div
                                            class="explore-item-header d-flex align-items-center justify-content-between">
                                            <div class="explore-title">
                                                <img src="assets/images/user/u1.png" alt="user">
                                                مهسا
                                            </div>
                                            <div class="star-list">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="explore-img">
                                            <div class="featured-price">۲۰۰تومان</div>
                                            <figure class="image-effect">
                                                <img src="assets/images/explore/ex1.jpg" alt="explore images"
                                                    class="img-fluid w-100">
                                            </figure>
                                            <div class="heart-content">
                                                <i class="fa-solid fa-heart"></i>
                                                12
                                            </div>
                                            <h5 class="featured-title">
                                                <a href="product-details.html">جنگجوی فانتزی</a>
                                            </h5>
                                        </div>
                                        <div
                                            class="explore-item-footer d-flex align-items-center justify-content-between">
                                            <div class="explore-title">
                                                <div class="img">
                                                    <img src="assets/images/com-logo/chatgpt.png" alt="explore">
                                                </div>
                                                میدجرنی
                                            </div>
                                            <div class="view-list">
                                                <i class="fa-regular fa-eye"></i>
                                                345
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="explore-item">
                                        <div class="explore-item-header d-flex align-items-center justify-content-between">
                                            <div class="explore-title">
                                                <img src="assets/images/user/u6.png" alt="user">
                                                ژاله
                                            </div>
                                            <div class="star-list">
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="explore-img">
                                            <div class="featured-price">۷۰۰تومان</div>
                                            <figure class="image-effect">
                                                <img src="assets/images/explore/ex6.jpg" alt="explore images"
                                                    class="img-fluid w-100">
                                            </figure>
                                            <div class="heart-content">
                                                <i class="fa-solid fa-heart"></i>
                                                54
                                            </div>
                                            <h5 class="featured-title">
                                                <a href="product-details.html">پرامپت جادویی</a>
                                            </h5>
                                        </div>
                                        <div class="explore-item-footer d-flex align-items-center justify-content-between">
                                            <div class="explore-title">
                                                <div class="img">
                                                    <img src="assets/images/com-logo/midjouruey.png" alt="explore">
                                                </div>
                                                میدجرنی
                                            </div>
                                            <div class="view-list">
                                                <i class="fa-regular fa-eye"></i>
                                                456
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-btn">
                            <div class="swiper--prev btn btn--border">
                                <i class="fa-solid fa-angle-right"></i>
                            </div>
                            <div class="swiper--next btn btn--border">
                                <i class="fa-solid fa-angle-left"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =====>> End Best Selling <<=====
        =========================== -->
        <!-- ===========================
        =====>> Company <<======= -->
        <section class="company-section py-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="company-slide swiper">
                            <div class="swiper-wrapper slide-transition">
                                <div class="swiper-slide inner-slide-element">
                                    <img src="assets/images/company/1.png" alt="Company Image">
                                </div>
                                <div class="swiper-slide inner-slide-element">
                                    <img src="assets/images/company/2.png" alt="Company Image">
                                </div>
                                <div class="swiper-slide inner-slide-element">
                                    <img src="assets/images/company/3.png" alt="Company Image">
                                </div>
                                <div class="swiper-slide inner-slide-element">
                                    <img src="assets/images/company/4.png" alt="Company Image">
                                </div>
                                <div class="swiper-slide inner-slide-element">
                                    <img src="assets/images/company/5.png" alt="Company Image">
                                </div>
                                <div class="swiper-slide inner-slide-element">
                                    <img src="assets/images/company/1.png" alt="Company Image">
                                </div>
                                <div class="swiper-slide inner-slide-element">
                                    <img src="assets/images/company/2.png" alt="Company Image">
                                </div>
                                <div class="swiper-slide inner-slide-element">
                                    <img src="assets/images/company/3.png" alt="Company Image">
                                </div>
                                <div class="swiper-slide inner-slide-element">
                                    <img src="assets/images/company/4.png" alt="Company Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =====>> End Company <<=====
        =========================== -->
    </main>
    <!-- ===========================
    =====>> footer <<===== -->
    <footer class="footer-area section-two-bg">
        <div class="footer-widget">
            <div class="container">
                <div class="row row-gap-5 justify-content-center">
                    <div class="col-lg-4 col-md-8">
                        <div class="footer-widget__item text-center text-lg-end">
                            <a href="index.html" class="d-block">
                                <img src="assets/images/logo/logo.svg" alt="logo">
                            </a>
                            <br>
                            <p>
                                پیکس‌گیکس پلتفرم مبتنی بر هوش مصنوعی مورد استفاده شما برای خلق آسان تصاویر خیره‌کننده و با کیفیت بالا در عرض چند ثانیه است. چه طراح باشید، چه بازاریاب.
                            </p>
                            <br>
                            <div class="footer-email">
                                <a href="https://www.iarsalan.ir/template/pixgix/pixgix/index.htmlcdn-cgi/l/email-protection#0b6e736a667b676e4b6c666a626725686466"><span class="__cf_email__" data-cfemail="f4918c9599849891b49399959d98da979b99">[email&#160;protected]</span></a>
                            </div>
                            <div class="footer-phone">
                                <h4><a href="tel:09010010011">۰۹۰۱۰۰۱۰۰۱۱</a></h4>
                            </div>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.x.com/?lang=en" target="_blank">
                                        <i class="fa-brands fa-x-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="footer-widget__content ps-xl-5">
                            <div class="footer-widget__item">
                                <h4>شرکت</h4>
                                <ul class="useful-list">
                                    <li><a href="about.html">درباره ما</a></li>
                                    <li><a href="services.html">خدمات</a></li>
                                    <li><a href="contact.html">پشتیبانی</a></li>
                                    <li><a href="login.html">ورود</a></li>
                                    <li><a href="register.html">ثبت نام</a></li>
                                </ul>
                            </div>
                            <div class="footer-widget__item">
                                <h4>لینک های سریع</h4>
                                <ul class="useful-list">
                                    <li><a href="generator.html">تولید</a></li>
                                    <li><a href="team.html">تیم ما</a></li>
                                    <li><a href="pricing.html">قیمت گذاری ها</a></li>
                                    <li><a href="blog-grid.html">مقالات</a></li>
                                    <li><a href="contact.html">تماس با ما</a></li>
                                </ul>
                            </div>
                            <div class="footer-widget__item">
                                <h4>آپدیت بمانید</h4>
                                <p>به خبرنامه Pixgix بپیوندید و از آخرین روندها و پیشنهادات هوش مصنوعی مطلع شوید.</p>
                                <div class="footer-widget__form">
                                    <form action="#">
                                        <input type="email" name="email" placeholder="ایمیل خود را وارد کنید">
                                        <button type="submit" class="btn btn--base">
                                            ما را دنبال کنید
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copy-right__content">
                            <p class="copy-right__text">
                                تمامی حقوق محفوظ است. طراحی شده توسط <a href="index.html">iarsalan</a>
                            </p>
                            <ul class="nav gap-4 row-gap-2">
                                <li><a href="contact.html">پشتیبانی</a></li>
                                <li><a href="privacy-policy.html">حریم خصوصی</a></li>
                                <li><a href="terms-service.html">شرایط خدمات</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- =====>> End footer <<=====
    =========================== -->


    <!-- Jquery js -->
    <script data-cfasync="false" src="https://www.iarsalan.ir/template/pixgix/pixgix/index.htmlcdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap Bundle Js -->
    <script src="assets/js/boostrap.bundle.min.js"></script>
    <!-- gsap js -->
    <script src="assets/js/gsap.min.js"></script>
    <!-- ScrollTrigger js -->
    <script src="assets/js/ScrollTrigger.js"></script>
    <!-- Scroll Reveal js -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <!-- images loaded js -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope js -->
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <!-- magnific popup js -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- swiper js -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!-- Odometer js -->
    <script src="assets/js/odometer.min.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>


</body>


</html>
