<!DOCTYPE html>
<html lang="fa" dir="rtl">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Pixgix Ai image generator HTML website template – Generate stunning AI-powered images instantly with our advanced AI image generator. Perfect for artists, designers, and businesses. Fast, high-quality, and easy to use.">
    <meta name="keywords" content="AI image generator, image generation, AI art, digital">
    <!-- Title -->
    <title>PixgiX- Ai image Generator HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Swiper -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Odometer -->
    <link rel="stylesheet" href="assets/css/odometer.css">
    <!-- Custom Animation -->
    <link rel="stylesheet" href="assets/css/custom-animation.css">
    <!-- Main css -->
    <link rel="stylesheet" href="assets/css/main.css">

</head>

<body>

    <!-- ===========================
    =====>> Preloader <<======= -->
    <div id="preloader" dir="ltr">
        <div id="text">
            <p>P</p>
            <p>i</p>
            <p>x</p>
            <p>g</p>
            <p>i</p> 
            <p class="active">X</p>
        </div>
    </div>
    <!-- =====>> End Preloader <<=====
    =========================== -->

    <!-- ===========================
    =====>> Scroll back to top <<===== -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- =====>> End Scroll back to top <<===== 
    =========================== -->
    <!-- ===========================
    =====>> navbar <<===== -->
    <nav class="navbar navbar-expand-lg navbar-main">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo/logo.svg" alt="logo" class="logo-img">
            </a>
            <div class="right-nav">
                <a href="cart.html" class="card___btn">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M16.7605 21.24C17.089 21.24 17.3552 20.9774 17.3552 20.6533C17.3552 20.3293 17.089 20.0667 16.7605 20.0667C16.432 20.0667 16.1658 20.3293 16.1658 20.6533C16.1658 20.9774 16.432 21.24 16.7605 21.24ZM16.7605 23C18.0743 23 19.1394 21.9493 19.1394 20.6533C19.1394 19.3574 18.0743 18.3067 16.7605 18.3067C15.4467 18.3067 14.3816 19.3574 14.3816 20.6533C14.3816 21.9493 15.4467 23 16.7605 23Z"
                            fill="white"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M9.6237 21.24C9.95217 21.24 10.2184 20.9774 10.2184 20.6533C10.2184 20.3293 9.95217 20.0667 9.6237 20.0667C9.29523 20.0667 9.02896 20.3293 9.02896 20.6533C9.02896 20.9774 9.29523 21.24 9.6237 21.24ZM9.6237 23C10.9375 23 12.0026 21.9493 12.0026 20.6533C12.0026 19.3574 10.9375 18.3067 9.6237 18.3067C8.30987 18.3067 7.24477 19.3574 7.24477 20.6533C7.24477 21.9493 8.30987 23 9.6237 23Z"
                            fill="white"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M1.14992 1.39195C1.42322 0.987572 1.9771 0.8783 2.38704 1.14789L3.77635 2.06152C4.22008 2.35331 4.53332 2.80196 4.65149 3.31492L7.09912 13.9384C7.25297 14.6061 7.85478 15.08 8.54902 15.08H17.8352C18.5295 15.08 19.1313 14.6061 19.2851 13.9384L21.1775 5.72513C21.3889 4.80735 20.6817 3.9334 19.7276 3.9334H10.5158C10.0231 3.9334 9.6237 3.53942 9.6237 3.05342C9.6237 2.56741 10.0231 2.17342 10.5158 2.17342H19.7276C21.8267 2.17342 23.3825 4.09602 22.9173 6.11514L21.025 14.3284C20.6864 15.7975 19.3625 16.84 17.8352 16.84H8.54902C7.02174 16.84 5.69775 15.7975 5.35929 14.3284L2.91166 3.70495C2.89478 3.6317 2.85003 3.5676 2.78664 3.52591L1.39735 2.61229C0.987401 2.3427 0.876626 1.79634 1.14992 1.39195Z"
                            fill="white"></path>
                    </svg>
                    <div class="card-number">
                        3
                    </div>
                </a>
                <a href="login.html" class="btn btn--border">
                    ورود
                </a>
                <a href="register.html" class="btn btn--base">
                    ثبت نام
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                </button>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <img src="assets/images/logo/logo.svg" alt="logo" class="logo-img">
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="d-flex d-lg-none gap-4 pt-3 justify-content-center">
                    <a href="login.html" class="btn btn--border">
                        ورود
                    </a>
                    <a href="register.html" class="btn btn--base">
                        ثبت نام
                    </a>
                </div>
                <div class="offcanvas-body align-items-center">
                    <ul class="navbar-nav justify-content-center flex-grow-1"> 
                        <li class="nav-item dropdown has-megamenu">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">خانه</a>
                            <ul class="dropdown-menu fade-down">
                                <li><a class="dropdown-item" href="index.html">خانه یک</a></li>
                                <li><a class="dropdown-item" href="index-two.html">خانه دو</a></li>
                                <li><a class="dropdown-item" href="index-three.html">خانه سه</a></li> 
                                
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html"><span>درباره ما</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                فروشگاه ها
                            </a>
                            <ul class="dropdown-menu fade-down">
                                <li><a class="dropdown-item" href="prompts.html">پرامپت ها</a></li>
                                <li><a class="dropdown-item" href="product-details.html">جزئیات محصول</a></li>
                                <li><a class="dropdown-item" href="cart.html">سبد خرید</a></li>
                                <li><a class="dropdown-item" href="checkout.html">فرم پرداخت</a></li> 
                                <li><a class="dropdown-item" href="seller.html">فروشندگان</a></li> 
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                صفحات
                            </a>
                            <ul class="dropdown-menu fade-down">
                                <li><a class="dropdown-item" href="generator.html">تولیدکننده عکس</a></li>
                                <li><a class="dropdown-item" href="services.html">خدمات ما</a></li>
                                <li><a class="dropdown-item" href="pricing.html">قیمت گذاری ها</a></li>
                                <li><a class="dropdown-item" href="collection.html">کالکشن ها</a></li>
                                <li><a class="dropdown-item" href="team.html">تیم ما</a></li>
                                <li><a class="dropdown-item" href="profile.html">پروفایل</a></li>
                                <li><a class="dropdown-item" href="faq.html">سوالات متداول</a></li>
                                <li><a class="dropdown-item" href="404.html">404</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                مقالات
                            </a>
                            <ul class="dropdown-menu fade-down">
                                <li><a class="dropdown-item" href="blog-grid.html">گرید مقالات</a></li>
                                <li><a class="dropdown-item" href="blog-right-sidebar.html">سایدبار مقالات</a></li>
                                <li><a class="dropdown-item" href="blog-standard.html">مقالات استاندارد</a></li>
                                <li><a class="dropdown-item" href="blog-details.html">جزئیات مقالات</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html"><span>تماس با ما</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- =====>> End navbar <<===== 
        =========================== -->
    <main>
        <!-- ===========================
        =====>> breadcrumb <<======= -->
        <section class="breadcrumb">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="breadcrumb__wrapper">
                            <h2 class="breadcrumb__title"> با تیم ما آشنا شوید</h2>
                            <ul class="breadcrumb__list">
                                <li class="breadcrumb__item">
                                    <a href="index.html"> خانه</a>
                                </li>
                                <li class="breadcrumb__item">
                                    <i class="fa-solid fa-arrow-left"></i>
                                </li>
                                <li class="breadcrumb__item">
                                    <span class="breadcrumb__item-text"> اعضای تیم</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =====>> End breadcrumb <<===== 
        =============================== -->
        <!-- ===========================
        =====>> Team <<======= -->
        <section class="team-section section-one-bg py-120">
            <div class="container">
                <div class="row row-gap-4 justify-content-center">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item top-reveal">
                            <figure class="image-effect ">
                                <img src="assets/images/team/1.jpg" alt="team images" class="img-fluid w-100">
                            </figure>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="name-details">
                                <h4><a href="javascript: void(0);">نسترن سلطانی</a> </h4>
                                <p>طراح رابط کاربری</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item top-reveal">
                            <figure class="image-effect ">
                                <img src="assets/images/team/2.jpg" alt="team images" class="img-fluid w-100">
                            </figure>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="name-details">
                                <h4><a href="javascript: void(0);">مهسا رهنما</a> </h4>
                                <p>طراح محصول</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item top-reveal">
                            <figure class="image-effect ">
                                <img src="assets/images/team/3.jpg" alt="team images" class="img-fluid w-100">
                            </figure>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="name-details">
                                <h4><a href="javascript: void(0);">زهرا عطایی</a></h4>
                                <p>مدیر محتوا</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item top-reveal">
                            <figure class="image-effect ">
                                <img src="assets/images/team/4.jpg" alt="team images" class="img-fluid w-100">
                            </figure>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="name-details">
                                <h4><a href="javascript: void(0);">شیرین رضایی</a> </h4>
                                <p>گرافیست</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item top-reveal">
                            <figure class="image-effect ">
                                <img src="assets/images/team/5.jpg" alt="team images" class="img-fluid w-100">
                            </figure>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="name-details">
                                <h4><a href="javascript: void(0);">مهشید رجبی</a> </h4>
                                <p>مهندس ارشد هوش مصنوعی</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item top-reveal">
                            <figure class="image-effect ">
                                <img src="assets/images/team/6.jpg" alt="team images" class="img-fluid w-100">
                            </figure>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="name-details">
                                <h4><a href="javascript: void(0);">امیرارسلان رهنما</a> </h4>
                                <p>مدیر خلاق</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item top-reveal">
                            <figure class="image-effect ">
                                <img src="assets/images/team/7.jpg" alt="team images" class="img-fluid w-100">
                            </figure>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="name-details">
                                <h4><a href="javascript: void(0);">فاطمه میرزایی</a> </h4>
                                <p>طراح محصول</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="team-item top-reveal">
                            <figure class="image-effect ">
                                <img src="assets/images/team/8.jpg" alt="team images" class="img-fluid w-100">
                            </figure>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa-brands fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="name-details">
                                <h4><a href="javascript: void(0);"> النا باباخانی</a></h4>
                                <p>دانشمند تحقیقاتی هوش مصنوعی</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =====>> End Team <<=====
        =========================== -->
        <!-- ===========================
        =====>> Text-slide <<======= -->
        <div class="section-two-bg py-60 @@services-text-slide">
            <div class="text-slide swiper">
                <div class="swiper-wrapper slide-transition">
                    <div class="swiper-slide inner-slide-element">
                        <div class="slide-text">
                            AI IMAGE GENERATE
                        </div>
                    </div>
                    <div class="swiper-slide inner-slide-element">
                        <div class="slide-text">
                            <img src="assets/images/shape/star.svg" alt="icon">
                        </div>
                    </div>
                    <div class="swiper-slide inner-slide-element">
                        <div class="slide-text">
                            AI IMAGE GENERATE
                        </div>
                    </div>
                    <div class="swiper-slide inner-slide-element">
                        <div class="slide-text">
                            <img src="assets/images/shape/star.svg" alt="icon">
                        </div>
                    </div>
                    <div class="swiper-slide inner-slide-element">
                        <div class="slide-text">
                            AI IMAGE GENERATE
                        </div>
                    </div>
                    <div class="swiper-slide inner-slide-element">
                        <div class="slide-text">
                            <img src="assets/images/shape/star.svg" alt="icon">
                        </div>
                    </div>
                    <div class="swiper-slide inner-slide-element">
                        <div class="slide-text">
                            AI IMAGE GENERATE
                        </div>
                    </div>
                    <div class="swiper-slide inner-slide-element">
                        <div class="slide-text">
                            <img src="assets/images/shape/star.svg" alt="icon">
                        </div>
                    </div>
                    <div class="swiper-slide inner-slide-element">
                        <div class="slide-text">
                            <img src="assets/images/shape/star.svg" alt="icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- =====>> End Text-slide <<=====
        =========================== -->
    </main>
    <!-- ===========================
    =====>> footer <<===== -->
    <footer class="footer-area section-two-bg">
        <div class="footer-widget">
            <div class="container">
                <div class="row row-gap-5 justify-content-center">
                    <div class="col-lg-4 col-md-8">
                        <div class="footer-widget__item text-center text-lg-end">
                            <a href="index.html" class="d-block">
                                <img src="assets/images/logo/logo.svg" alt="logo">
                            </a>
                            <br>
                            <p>
                                پیکس‌گیکس پلتفرم مبتنی بر هوش مصنوعی مورد استفاده شما برای خلق آسان تصاویر خیره‌کننده و با کیفیت بالا در عرض چند ثانیه است. چه طراح باشید، چه بازاریاب.
                            </p>
                            <br>
                            <div class="footer-email">
                                <a href="https://www.iarsalan.ir/template/pixgix/pixgix/index.htmlcdn-cgi/l/email-protection#fc99849d918c9099bc9b919d9590d29f9391"><span class="__cf_email__" data-cfemail="8feaf7eee2ffe3eacfe8e2eee6e3a1ece0e2">[email&#160;protected]</span></a>
                            </div>
                            <div class="footer-phone">
                                <h4><a href="tel:09010010011">۰۹۰۱۰۰۱۰۰۱۱</a></h4>
                            </div>
                            <ul class="social">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.x.com/?lang=en" target="_blank">
                                        <i class="fa-brands fa-x-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="footer-widget__content ps-xl-5">
                            <div class="footer-widget__item">
                                <h4>شرکت</h4>
                                <ul class="useful-list">
                                    <li><a href="about.html">درباره ما</a></li>
                                    <li><a href="services.html">خدمات</a></li>
                                    <li><a href="contact.html">پشتیبانی</a></li>
                                    <li><a href="login.html">ورود</a></li>
                                    <li><a href="register.html">ثبت نام</a></li>
                                </ul>
                            </div>
                            <div class="footer-widget__item">
                                <h4>لینک های سریع</h4>
                                <ul class="useful-list">
                                    <li><a href="generator.html">تولید</a></li>
                                    <li><a href="team.html">تیم ما</a></li>
                                    <li><a href="pricing.html">قیمت گذاری ها</a></li>
                                    <li><a href="blog-grid.html">مقالات</a></li>
                                    <li><a href="contact.html">تماس با ما</a></li>
                                </ul>
                            </div>
                            <div class="footer-widget__item">
                                <h4>آپدیت بمانید</h4>
                                <p>به خبرنامه Pixgix بپیوندید و از آخرین روندها و پیشنهادات هوش مصنوعی مطلع شوید.</p>
                                <div class="footer-widget__form">
                                    <form action="#">
                                        <input type="email" name="email" placeholder="ایمیل خود را وارد کنید">
                                        <button type="submit" class="btn btn--base">
                                            ما را دنبال کنید
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copy-right__content">
                            <p class="copy-right__text">
                                تمامی حقوق محفوظ است. طراحی شده توسط <a href="index.html">iarsalan</a>
                            </p>
                            <ul class="nav gap-4 row-gap-2">
                                <li><a href="contact.html">پشتیبانی</a></li>
                                <li><a href="privacy-policy.html">حریم خصوصی</a></li>
                                <li><a href="terms-service.html">شرایط خدمات</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- =====>> End footer <<=====
    =========================== -->


    <!-- Jquery js -->
    <script data-cfasync="false" src="https://www.iarsalan.ir/template/pixgix/pixgix/index.htmlcdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap Bundle Js -->
    <script src="assets/js/boostrap.bundle.min.js"></script>
    <!-- gsap js -->
    <script src="assets/js/gsap.min.js"></script>
    <!-- ScrollTrigger js -->
    <script src="assets/js/ScrollTrigger.js"></script>
    <!-- Scroll Reveal js -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <!-- images loaded js -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- isotope js -->
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <!-- magnific popup js -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- swiper js -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!-- Odometer js -->
    <script src="assets/js/odometer.min.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>


</body>


</html>